<div class="all">
  <div class="container">
    <div class="txt">
      <h1>Hormiga Nest</h1><br>
      <h3>Welcome to hormiga nest <br>Collect your rare NFT's</h3><br>
      <button>Get started <span class="arrow">&rarr;</span></button>
    </div>
    <!--<div class="imgs">
      <img id="astro-shape" src="../../assets/shape astronomy.svg" width="300px" alt="fire-ship2"><br>
      <img id="earth" src="../../assets/earth.svg" width="300px" alt="fire-ship1">
    </div>-->
  </div>
    <img id="boat" src="../../assets/boat.svg" width="300px" alt="fire-ship1">
    <img id="landscape" src="../../assets/terre.svg" width="300px" alt="fire-ship2"><br>
  <div style="clear:both;"></div>
</div>
